body{
    background-color: rgb(248, 245, 240);
    margin-left: 300px;
    margin-right: 300px;
}

.title_logos{
    display: flex;
    align-items: center;

}
.left{
    display: flex;
    word-spacing: 30px;
    margin-left: 600px;
    margin-right: 20px;
   
    
    
}
button{
    margin-left: 20px;
    border-radius: 25px;
  background: #73AD21;
  padding: 2px;
  width: 100px;
  height: 25px;
    
}



.middle_part{
    margin-top: 100px;
    
}

.red_text{
    color: red;
}
.text_black_green{
    display: flex;
}
.green{
    color: green;
    margin-left: 20px;
    
}

.Image_illustration{
    margin-top: -300px;
    margin-left: 400px;

}


.lorem{
    margin-bottom: 25px;
}

.logos_4{
display: flex;


}

.first_box{
    
    
    border: 2px solid green;
    padding: 10px;
    margin: 50px;
    background-color:  rgb(255, 253, 208);
  
}
.second_box{
     
    border: 2px solid green;
    padding: 10px;
    margin: 50px;
    background-color:  rgb(255, 253, 208);
  
}
.third_box{
     
    border: 2px solid green;
    padding: 10px;
    margin: 50px;
    background-color:  rgb(255, 253, 208);
  
}

.fourth_box{
     
    border: 2px solid green;
    padding: 10px;
    margin: 50px;
    background-color:  rgb(255, 253, 208);
  
}