body{
    background-color: rgb(248, 245, 240);
    margin-left: 300px;
    margin-right: 300px;
}

.All{
    
    
    border-style: solid;
    border-radius: 10px;
    border-color: cadetblue;
    
    background-color: rgb(191, 219, 235);
}

.result_box{
    align-items: baseline;
    
    
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(168, 103, 103);
    
    background-color: rgb(193, 250, 188);
}

